@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", serif;
}

@layer utilities {
  .bg-gradient {
    background-image: url(./assets/bg-gradient-min.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
